<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <%= f.label :post, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
          <%= f.text_area :post, class: "form-control", rows: "4" %>
      </div>


      <div class="col-sm-offset-2 col-sm-6">
          <%= f.submit "Update", class: "btn btn-primary" %>
      </div>



<% end %>
